* {
    margin: 0px;
    padding: 0px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;  
    z-index: 2;
    opacity: 70%;
    color: black;
}

#btn-back-to-top:hover {
    cursor: pointer;
    border-color: white;
    background-color: #7398ffab;
    color: rgba(255, 255, 255, 0.685);
}

.avaliacao {
  display: flex;
  flex-direction: row-reverse; /* To make the 5th star appear on the right */
  justify-content: center;
}

.avaliacao input {
  display: none; /* Hide the default radio buttons */
}

.avaliacao label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #ccc; /* Unfilled star color */
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
}

.avaliacao label:before {
  content: '\2605'; /* Unicode star character */
}

.avaliacao input:checked ~ label,
.avaliacao label:hover,
.avaliacao label:hover ~ label {
  background-color: #f90; /* Filled star color on hover and checked */
}